html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
}
#equipe::-webkit-scrollbar {
  display: none;
}
.rounded-circle {
  box-shadow: 1px 3px 5px;
}
.cabecalho {
  overflow-x: hidden;
}
.bg-azul {
  background-color: #25245a;
}
.bg-rosa {
  background-color: #871f62;
}

.text-rosa {
  color: #871f62;
}

.text-azul {
  color: #25245a;
}

.icones-trilhas {
  width: 100px;
  height: 100px;
}
